{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<h1>Register</h1>

<br>

<form action="/register" method="post">

    <div class="form-group">
        <input type="text" name="username" class="form-control" autofocus placeholder="Username">
    </div>

    <div class="form-group">
        <input autocomplete="off" type="text" name="password" class="form-control" placeholder="Password">
    </div>

    <div class="form-group">
        <input autocomplete="off" type="text" name="confirmation" class="form-control" placeholder="Confirm Password">
    </div>

    <button class="btn btn-primary" input type="submit">Register</button>

</form>
{% endblock %}